* {
  box-sizing: border-box;
}

:root {
  --primary: #001011;
  --secondary: #7392b7 ;
  --tertiary: #b3c5d7;
  --light: #feefdd;
  --dark: #093a3e;
  --darker: #001011;
  --error: #ff1b1c; 
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  font-family: 'Century Gothic', sans-serif;
  
}

main,
section {
  margin: 0 auto;
  max-width: 90%;
}

a {
  border-radius: 5px;
  color: var(--secondary);
  padding: 15px;
}

a :hover {
  color: #fabc2a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Century Gothic', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  color: var(--tertiary);
  padding: 10px;
}

p {
  color: var(--tertiary);
  font-family: 'Century Gothic', sans-serif;
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 0;
  text-align: center;
}


/* Styling for the Contact form */
label {
  color: var(--secondary);
}

#contact-form {
  text-align:right;
  margin: auto;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;

}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  text-align: right;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.card {
  width: 25%;
  text-align: center;
}


/* Image styling */
.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.matt,
.spartan {
  border-radius: 10% 50% 50% 50%;
}


/* Nav styling */
nav {
  background-color: var(--primary);
}

nav h2 {
  color: var(--tertiary);
  font-weight: bold;
}

.navActive {
  color: var(--secondary);
}

/* styling for the nav tab links */
ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fabc2a;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #fabc2a;
}

ul li a:hover {
  color: #fabc2a;
  box-shadow: 0 0 5px #fabc2a;
  text-shadow: 0 0 5px #fabc2a;
}
/* Footer styling */
footer {
  position: fixed;
  bottom:0;
  left: 0;
  padding: 10px;
  width: 100%;
  background: var(--secondary);
}

footer a {
  color: var(--primary);
  font-size: 35px;
}